<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1> 
    <ul> 
        {% for produto in object_list %} 
            <li>{{ produto.nome }}  :   
            <a href="{% url "editar_produtos" produto.pk %}">editar</a> 
            </li> 
        {% endfor %} 
    </ul> 
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <a href="{% url "create" %}">Novo produto</a> 
        <a href="{% url "create_fornecedor" %}">Novo fornecedor</a> 
        <a href="{% url "create_categoria" %}">Nova categoria</a> 
    </div>


</body>
</html>